@model Specifikacije

@{
    ViewBag.Title = "Ažuriranje mjesta";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <input type="hidden" asp-for="IdSpecifikacija" />
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="KonjskeSnage"></label>
        <div><span asp-validation-for="KonjskeSnage" class="text-danger"></span></div>
        <input asp-for="KonjskeSnage" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdMjenjaca"></label>
        <div><span asp-validation-for="IdMjenjaca" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdMjenjaca" asp-items="ViewBag.Mjenjaci">
            <option disabled selected value="">Odaberite mjenjac</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IdBoje"></label>
        <div><span asp-validation-for="IdBoje" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdBoje" asp-items="ViewBag.Boje">
            <option disabled selected value="">Odaberite Boju</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IdDodatneOpreme"></label>
        <div><span asp-validation-for="IdDodatneOpreme" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdDodatneOpreme" asp-items="ViewBag.DodatnaOprema">
            <option disabled selected value="">Odaberite dodatnu opremu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IdVrsteGoriva"></label>
        <div><span asp-validation-for="IdVrsteGoriva" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdVrsteGoriva" asp-items="ViewBag.VrsteGoriva">
            <option disabled selected value="">Odaberite dodatnu opremu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="VelicinaTankaULitrima"></label>
        <div><span asp-validation-for="VelicinaTankaULitrima" class="text-danger"></span></div>
        <input asp-for="VelicinaTankaULitrima" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Potrosnja"></label>
        <div><span asp-validation-for="Potrosnja" class="text-danger"></span></div>
        <input asp-for="Potrosnja" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>
