@model WebApplication.ViewModels.SpecifikacijaViewModel

<tr>
    <td class="text-left">@Model.IdSpecifikacija</td>
    <td class="text-left">@Model.KonjskeSnage</td>
    <td class="text-left">@Model.NazivMjenjaca</td>
    <td class="text-left">@Model.NazivBoje</td>
    <td class="text-left">@Model.NazivDodatneOpreme</td>
    <td class="text-left">@Model.NazivVrsteGoriva</td>
    <td class="text-left">@Model.VelicinaTankaULitrima</td>
    <td class="text-left">@Model.Potrosnja</td>
    <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@Model.IdSpecifikacija"
                   class="btn btn-sm btn-secondary" title="Azuriraj">
                    Edit
                </a>
        <form asp-action="Delete" method="POST">
            <input type="hidden" name="id" value="@Model.IdSpecifikacija" />
            <button data-idspec="@Model.IdSpecifikacija" type="submit" class="btn btn-danger deleteajax" title="Obrisi">
                Delete
            </button>
        </form>
    </td>
</tr>