<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">
            Pocetna Stranica
        </a>
    </li>    
    <li class="nav-item">
        <a class="nav-link
           @(ViewBag.Controller == "Boje" ? "active" : "")" asp-action="Index" asp-controller="Boje">
             Boje
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Controller == "Certifikati" ? "active" : "")" asp-action="Index" asp-controller="Certifikati">
            Certifikati
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Controller == "DodatnaOprema" ? "active" : "")" asp-action="Index" asp-controller="DodatnaOprema">
            Dodatna oprema
        </a>
    </li>
        <li class="nav-item">
            <a class="nav-link
               @(ViewBag.Controller == "Kategorije" ? "active" : "")" asp-action="Index" asp-controller="Kategorije">
                 Kategorije
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.Controller == "Mjenjaci" ? "active" : "")" asp-action="Index" asp-controller="Mjenjaci">
                Mjenjaci
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.Controller == "Odjeli" ? "active" : "")" asp-action="Index" asp-controller="Odjeli">
                Odjeli
            </a>
        </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Controller == "Proizvodjaci" ? "active" : "")" asp-action="Index" asp-controller="Proizvodjaci">
            Proizvodjaci
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Controller == "Osobe" ? "active" : "")" asp-action="Index" asp-controller="Osobe">
            Osobe
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Controller == "VrsteGoriva" ? "active" : "")" asp-action="Index" asp-controller="VrsteGoriva">
            Vrste goriva
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Controller == "Specifikacije" ? "active" : "")" asp-action="Index" asp-controller="Specifikacije">
            Specifikacije
        </a>
    </li>
</ul>