@model Zahtjev

@{
    ViewBag.Title = "Ažuriranje zahtjeva";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <input type="hidden" asp-for="IdZahtjeva" />
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="IdUsluge"></label>
        <div><span asp-validation-for="IdUsluge" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdUsluge" asp-items="ViewBag.Usluge">
            <option disabled selected value="">Odaberite uslugu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IdKlijenta"></label>
        <div><span asp-validation-for="IdKlijenta" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdKlijenta" asp-items="ViewBag.Klijenti">
            <option disabled selected value="">Odaberite klijenta</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DatumOd"></label>
        <input type="date" asp-for="DatumOd" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="DatumDo"></label>
        <input type="date" asp-for="DatumDo" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="BrojVozila"></label>
        <input asp-for="BrojVozila" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>