@using WebApplication.ViewModels
@model Zahtjev

@{
    string imePrezime = ViewBag.Klijent.FirstName + " " + ViewBag.Klijent.LastName;
}

<div class="container">
    <h1 class="text-center text-white">Zahtjev</h1>
    <a class="btn btn-secondary" asp-action="GetPDF" asp-controller="Zahtjev" asp-route-url="@Url.Action("Show","Zahtjev", new { id = Model.IdZahtjeva },this.Context.Request.Scheme)">Generate PDF</a>
    <br/><br/>
    <div class="row">
        <div class="col-md-6 text-white font-weight-bold" style="font-size: x-large">
            <p>
                Datum od: @Model.DatumOd
            </p>
            <p>
                Datum do: @Model.DatumDo
            </p>
        </div>
        <div class="col-md-6 text-white font-weight-bold" style="font-size: x-large">
            <p>
                Klijent: @imePrezime
            </p>
            <p>
                Usluga: @ViewBag.Kat/@ViewBag.Usluga.NazivUsluge
            </p>
        </div>
    </div>
    <hr style="background-color: white; height: 6px;"/>
    <div>
        <h1 class="text-center text-white">Vozila</h1>
        @foreach (VozilosViewModel v in ViewBag.Vozila)
        {
            <div class="row bg-white rounded box-shadow" style="margin-top: 25px; padding: 10px; color: #0b486b">
                <div class="justify-content-center col-md-6">
                    <h2 class="text-center">@v.NazivProizvodjaca @v.Model.Naziv</h2>
                    <hr style="background-color: #0b486b"/>
                    <h4 class="text-center">Specifikacije</h4>
                    <br/>
                    <h6>Konjske snage: @v.Model.Specifikacija.KonjskeSnage </h6>
                    <h6>Boja: @v.Model.Specifikacija.NazivBoje</h6>
                    <h6>Mjenjac: @v.Model.Specifikacija.NazivMjenjaca</h6>
                    <h6>Dodatna oprema: @v.Model.Specifikacija.NazivDodatneOpreme</h6>
                    <h6>Gorivo: @v.Model.Specifikacija.NazivVrsteGoriva</h6>
                    <h6>Velicina tanka: @v.Model.Specifikacija.VelicinaTankaULitrima litara</h6>
                    <h6>Potrosnja: @v.Model.Specifikacija.Potrosnja litara/100km</h6>
                    <h6 class="align-self-center">Cijena: @v.Cijena KM/Dan </h6>
                </div>
                <div class="col-md-6">
                    <img src="@Url.Action("GetImage", "Vozila", new {id = v.IdSlike})" class="mx-auto slika" alt="No img found."/>
                </div>
            </div>
        }
    </div>
</div>