@model WebApplication.ViewModels.VrsteGorivaViewModel
@{
    ViewData["Title"] = "Popis vrsta goriva";
}

<a asp-action="Create">Unos Nove vrste goriva</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite zeljenu stranicu" page-action="Index" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
    <tr>
        <th><a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort != 1 || !Model.PagingInfo.Ascending)">Id Boje</a></th>
        <th><a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort != 2 || !Model.PagingInfo.Ascending)">Naziv Boje</a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var vrstaGoriva in Model.VrsteGoriva)
    {
        <tr>
            <td class="text-center">@vrstaGoriva.IdVrsteGoriva</td>
            <td class="text-left">@vrstaGoriva.Naziv</td>
            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@vrstaGoriva.IdVrsteGoriva"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm btn-secondary" title="Azuriraj">
                    Edit
                </a>
                
                <form asp-action="Delete" method="POST" 
                      asp-route-page="@Model.PagingInfo.CurrentPage" 
                      asp-route-sort="@Model.PagingInfo.Sort" 
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="id" value="@vrstaGoriva.IdVrsteGoriva" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obrisi">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Styles 
{
    
}

@section Scripts
{
    
}
