<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)

</head>
<body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="/">Web Application</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">...</button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <vc:navigation></vc:navigation>
            </div>
        </nav>
<div class="container">

    <main role="main" class="pb-3">
        <div>
            <div id="tempmessage" class="alert">
                
            </div>
            @if (TempData["Message"] != null)
            {
                bool error = false;
                var obj = TempData["ErrorOccurred"];
                if (obj != null)
                {
                    error = (bool) obj;
                }
                <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData["Message"]</div>
            }
        </div>
        @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Web Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/gotopage.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
