<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)

</head>
<body class="bg-custom">
        <nav class="navbar navbar-expand-md navbar-dark bg-custom-dark">
            <a class="navbar-brand" href="/">Car Rent</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">...</button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <vc:navigation></vc:navigation>
            </div>
        </nav>
<div>

    <main role="main" class="pb-3">
        <div>
            <div id="tempmessage" class="alert">
                
            </div>
            @if (TempData["Message"] != null)
            {
                bool error = false;
                var obj = TempData["ErrorOccurred"];
                if (obj != null)
                {
                    error = (bool) obj;
                }
                <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData["Message"]</div>
            }
        </div>
        @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted bg-custom-orange">
        <div class="container">
            &copy; 2020 - Web Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/solid.js" integrity="sha384-P4tSluxIpPk9wNy8WSD8wJDvA8YZIkC6AQ+BfAFLXcUZIPQGu4Ifv4Kqq+i2XzrM" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY" crossorigin="anonymous"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/gotopage.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
