@model WebApplication.ViewModels.VozilaViewModel
@{
    ViewData["Title"] = "Popis vozila";
}

<a asp-action="Create">Unos Novog vozila</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite zeljenu stranicu" page-action="Index" class="float-right"></pager>

<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
    <tr>
        @{
            string[] nazivi = {"ID Vozila", "Naziv Proizvodjaca", "Naziv modela", "Cijena/Dan", "Dostupno"};
            for (int i=1; i<= nazivi.Length; i++)
            {
                <th><a asp-route-sort="@i"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-ascending="@(Model.PagingInfo.Sort != i || !Model.PagingInfo.Ascending)">
                    @nazivi[i-1]
                </a></th>
            }
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var vozilo in Model.Vozila)
    {
        <partial name="Row" model="vozilo"/>
    }
    </tbody>
</table>

@section Styles 
{
    
}

@section Scripts
{
    <script>
        $(function() {
          SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idvozila');
        });     
        $(function() {
          SetEditAjax(".editajax", '@Url.Action("Edit")', 'idvozila');
        });                  
    </script>
}