@model WebApplication.ViewModels.VozilosViewModel

<div class="container bg-white rounded">
    <h1 class="text-center">@Model.NazivProizvodjaca @Model.Model.Naziv</h1>
    <br/>
    <h1 class="text-center">Specifikacije</h1>
    <br/>
    <h4>Konjske snage: @Model.Model.Specifikacija.KonjskeSnage </h4>
        <br/>
        <h4>Boja: @Model.Model.Specifikacija.NazivBoje</h4>
        <br/>
        <h4>Mjenjac: @Model.Model.Specifikacija.NazivMjenjaca</h4>
        <br/>
        <h4>Dodatna oprema: @Model.Model.Specifikacija.NazivDodatneOpreme</h4>
        <br/>
        <h4>Gorivo: @Model.Model.Specifikacija.NazivVrsteGoriva</h4>
        <br/>
        <h4>Velicina tanka: @Model.Model.Specifikacija.VelicinaTankaULitrima</h4>
        <br/>
        <h4>Potrosnja: @Model.Model.Specifikacija.Potrosnja</h4>
        <br/>
    </div>

