@using WebApplication.ViewModels
@model Usluge
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 >@Model.NazivUsluge</h1>
    
    <div>
        @foreach (VozilosViewModel v in ViewBag.Vozila)
        {
            <div class="justify-content-center">
                <h2 class="text-center">@v.NazivProizvodjaca @v.Model.Naziv</h2>
                <img src="@Url.Action("GetImage", "Vozila", new { id = @v.IdSlike })"  class="img-fluid mx-auto d-block" />
            </div>
        }
    </div>
</div>