@using WebApplication.ViewModels
@model Usluge
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Zahtjev" asp-action="ShowForm" method="get">
    <div class="container text-center">
        <h1 class="text-center text-white" style="text-decoration: underline white;">@Model.NazivUsluge</h1>
        <input type="hidden" name="IdUsluge" value="@Model.IdUsluge"/>
        <div>
            @foreach (VozilosViewModel v in ViewBag.Vozila)
            {
                <div class="row bg-white rounded box-shadow" style="margin-top: 25px; padding: 10px; color: #0b486b">
                    <div class="justify-content-center col-md-5">
                        <h2 class="text-center">@v.NazivProizvodjaca @v.Model.Naziv</h2>
                        <hr style="background-color: #0b486b" />
                        <h4 class="text-center">Specifikacije</h4>
                        <br/>
                        <h6>Konjske snage: @v.Model.Specifikacija.KonjskeSnage </h6>
                        <h6>Boja: @v.Model.Specifikacija.NazivBoje</h6>
                        <h6>Mjenjac: @v.Model.Specifikacija.NazivMjenjaca</h6>
                        <h6>Dodatna oprema: @v.Model.Specifikacija.NazivDodatneOpreme</h6>
                        <h6>Gorivo: @v.Model.Specifikacija.NazivVrsteGoriva</h6>
                        <h6>Velicina tanka: @v.Model.Specifikacija.VelicinaTankaULitrima litara</h6>
                        <h6>Potrosnja: @v.Model.Specifikacija.Potrosnja litara/100km</h6>
                    </div>
                    <div class="col-md-5">
                        <img src="@Url.Action("GetImage", "Vozila", new { id = @v.IdSlike })"  class="mx-auto slika"  alt="No img found."/>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <h6 class="align-self-center">Cijena: @v.Cijena KM/Dan </h6>
                        <input type="checkbox" name="idVozila" value="@v.IdVozila" class="form-control align-self-center" />
                    </div>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-block btn-primary" style="margin-top: 25px;">Go</button>
    </div>
</form>
