@using WebApplication.Controllers
@model Tvrtke

<tr>
    <td class="text-left">@Model.IdTvrtke</td>
    <td class="text-left">@Model.Naziv</td>
    <td class="text-left">@Model.DogovoreniPopustPostotak</td>
    <td class="text-left">@Model.VrijemeSuradnjeGodine</td>
    <td class="btn-group">
        <a data-idtvrtke="@Model.IdTvrtke" class="btn btn-sm btn-secondary editajax" title="Azuriraj">
            Edit
        </a>
        <form asp-action="Delete" method="POST">
            <input type="hidden" name="id" value="@Model.IdTvrtke"/>
            <button data-idtvrtke="@Model.IdTvrtke" type="submit" class="btn btn-sm btn-danger deleteajax" title="Obrisi">
                Delete
            </button>
        </form>
    </td>
</tr>