@model WebApplication.ViewModels.KlijentViewModel

<tr>
    <td class="text-left">@Model.IdKlijenta</td>
    <td class="text-left">@Model.ImePrezime</td>
    <td class="text-left">@Model.NazivTvrtke</td>

    <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@Model.IdKlijenta"
                   class="btn btn-sm btn-secondary" title="Azuriraj">
                    Edit
                </a>
        <form asp-action="Delete" method="POST">
            <input type="hidden" name="id" value="@Model.IdKlijenta" />
            <button data-idklijent="@Model.IdKlijenta" type="submit" class="btn btn-danger deleteajax" title="Obrisi">
                Delete
            </button>
        </form>
    </td>
</tr>